<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivyinfo.feiying.android"
    android:versionCode="1"
    android:versionName="@string/version" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:label="@string/app_name"
            android:name="com.ivyinfo.feiying.activity.other.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.ivyinfo.feiying.activity.FeiLaiActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.ivyinfo.feiying.activity.ShareActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.ivyinfo.feiying.activity.HomeActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.ivyinfo.feiying.activity.ChannelActivity" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.ivyinfo.feiying.activity.MoreActivity" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.VideoDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.ChanneVideoListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.other.FeiYingVideoplayer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.VideoSearchActivity"
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.FeiYingMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.system.RegisterAndLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.MovieListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.MovieDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.SeriesListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.subviews.SeriesDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ivyinfo.feiying.activity.FavorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service android:name="com.ivyinfo.feiying.service.FYContactSyncService"></service>
        <activity android:name="com.ivyinfo.feiying.activity.subviews.VideoShareEditorActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:screenOrientation="portrait" android:name="com.ivyinfo.feiying.activity.other.ContactMultiSelectListAcitivity" android:label="@string/select_contacts" android:windowSoftInputMode="stateHidden|adjustPan" android:theme="@android:style/Theme.Black"></activity>
        <activity android:name="com.ivyinfo.feiying.activity.subviews.VideoSearchResultActivity" android:screenOrientation="portrait"></activity>
        <activity android:name="com.ivyinfo.feiying.activity.other.AboutActivity" android:screenOrientation="portrait"></activity>
        <activity android:screenOrientation="portrait" android:name="com.ivyinfo.feiying.activity.other.FeedbackActivity" android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>